---
import MainLayout from "../../layouts/main.astro";
import {getCollection} from "astro:content";
const posts = await getCollection("blog");

console.log(posts[0].slug);

const postByDate = posts
  .sort((a, b) => {
    return (
      new Date(b.data.date).getTime() -
      new Date(a.data.date).getTime()
    );
  })
  .reverse();
---

<MainLayout
  title="Recent Blog Entries"
  description="List of my most resent blog entries."
  blog={false}
>
  <h1 class="racing-sans-one-regular text-4xl text-center uppercase mb-8 text-white">Recent Blog Entries</h1>
  <section class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {
      postByDate.map((post) => (
        <a href={`/blog/${post.slug}`} class="">
          <article class="border-2 border-gray-800 dark:border-gray-200 dark:text-gray-200 dark:hover:text-white text-gray-800 hover:text-black">
            <img src={post.data.image} />
            <div class="p-4">
              <h3 class="mb-4 uppercase">
                {post.data.title}
              </h3>
              <p class="text-s mb-2">
                {post.data.exerpt}
              </p>
              <p class="text-s text-gray-600 dark:text-gray-400 text-sm">
                {new Date(post.data.date).toLocaleDateString("es-US")}
              </p>
            </div>
          </article>
        </a>
      ))
    }
  </section>
</MainLayout>
